@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.pointer {
  cursor: pointer;
}

.card {
  float: left;
  margin: 10px;
  width: auto;
  height: 100%;
}

.card_list {
  padding: 0;
}

.card_item {
  padding: 0 15px;
  min-height: 0;
}

.card_title_small {
  margin: 0;
}

.card_overflow {
  overflow-x: auto;
}

.card_fixed_h {
  max-height: 400px;
  overflow-y: auto;
}

.matrix_field {
  width: 50px;
}

.matrix_cell {
  padding: 0 15px !important;
  min-width: 70px;
}

.button_alone {
  clear: both;
  padding: 30px 10px;
}

.error {
  color: red;
}

.file {
  display: none;
}

.dialog {
  min-width: 600px;
}

.dialog h5 {
  float: left;
}

.import_add {
  margin-top: 12px;
  margin-left: 10px;
}

.container_textarea {
  width: 80%;
  padding-left: 20px;
}

.col-6 {
  float: left;
  width: 50%;
}
