@import '~@angular/material/core/theming/prebuilt/deeppurple-amber.css';

.pointer {
  cursor: pointer;
}

.card {
  float: left;
  margin: 10px;
  width: auto;
  height: 100%;
}

.card_list {
  padding: 0;
}

.card_item {
  padding: 0 15px;
  min-height: 0;
}

.card_title_small {
  margin: 0;
}

.card_overflow {
  overflow-x: auto;
}

.matrix_field {
  width: 50px;
}

.matrix_cell {
  padding: 0 15px !important;
  min-width: 70px;
}

.button_alone {
  clear: both;
  padding: 30px 10px;
}

.error {
  color: red;
}
