<div>
  <md-tab-group>

    <!--MODEL-->
    <md-tab label="Model">
      <h2>Model</h2>
      <button md-raised-button color="primary" (click)="import('model')">Import</button>
      <button md-button color="primary" (click)="set_example()">Set example model</button>
      <button md-button color="warn" (click)="reset('model')">Reset</button>
      <div class="mdl-grid">
        <!--States-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">States</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <ul class="card_list mdl-list">
              <li class="card_item mdl-list__item" *ngFor="let state of hmm.states; let i = index">
                <span class="mdl-list__item-primary-content">{{state}}</span>
                <span class="pointer mdl-list__item-secondary-action" (click)="remove_state(i)">
                    <i class="material-icons">delete</i>
                  </span>
              </li>
            </ul>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--9-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="new_state" #nstate (keyup.enter)="add_state(nstate)">
                  <label class="mdl-textfield__label" for="new_state">New state</label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--3-col">
                <button (click)="add_state(nstate)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect"><i class="material-icons">add</i></button>
              </div>
            </div>
          </div>
        </div>
        <!--Observations-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Observations</h2>
          </div>
          <div class="mdl-card__supporting-text">
            <ul class="card_list mdl-list">
              <li class="card_item mdl-list__item" *ngFor="let observation of hmm.observations; let i = index">
                <span class="mdl-list__item-primary-content">{{observation}}</span>
                <span class="pointer mdl-list__item-secondary-action" (click)="remove_observation(i)"><i class="material-icons">delete</i></span>
              </li>
            </ul>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <div class="mdl-grid">
              <div class="mdl-cell mdl-cell--9-col">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                  <input class="mdl-textfield__input" type="text" id="new_observation" #nobservation (keyup.enter)="add_observation(nobservation)">
                  <label class="mdl-textfield__label" for="new_observation">New observation</label>
                </div>
              </div>
              <div class="mdl-cell mdl-cell--3-col">
                <button (click)="add_observation(nobservation)" class="mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-js-ripple-effect"><i class="material-icons">add</i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-grid">
        <!--A-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Transitions</h2>
          </div>
          <div class="card_overflow mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th>(From \ To)</th>
                  <th class="mdl-data-table__cell--non-numeric" *ngFor="let state of hmm.states">{{state}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let state of hmm.states; let i = index">
                  <td class="mdl-data-table__cell--non-numeric"><b>{{state}}</b></td>
                  <td *ngFor="let s of hmm.states; let j = index" class="matrix_cell">
                    <md-input-container>
                      <input md-input [(ngModel)]="hmm.A[i][j]" type="number" step="0.01" min="0" max="1">
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--B-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Emissions</h2>
          </div>
          <div class="card_overflow mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th class="mdl-data-table__cell--non-numeric" *ngFor="let observation of hmm.observations">{{observation}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let state of hmm.states; let i = index">
                  <td class="mdl-data-table__cell--non-numeric"><b>{{state}}</b></td>
                  <td class="matrix_cell" *ngFor="let o of hmm.observations; let j = index">
                    <md-input-container>
                      <input md-input type="number" step="0.01" min="0" max="1" [(ngModel)]="hmm.B[i][j]">
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </md-tab>

    <!--GENERATE-->
    <md-tab label="Generate">
      <h2>Generate sequence</h2>
      <md-input-container>
        <input md-input placeholder="Number of sequences" type="number" min="0" [(ngModel)]="number_sequences">
      </md-input-container>
      <button md-raised-button color="accent" (click)="generate_sequence()">Generate</button>
      <label class="error">{{error_generate}}</label>
      <pre *ngFor="let seq of generated_sequences">{{seq}}</pre>
    </md-tab>

    <!--PATH-->
    <md-tab label="Path">
      <h2>Get most probable path using Viterbi</h2>
      <button md-raised-button color="primary" (click)="import('sequences')">Import</button>
      <button md-button color="warn" (click)="reset('sequences')">Reset</button>
      <div class="mdl-grid">
        <div class="mdl-cell mdl-cell--7-col">
          <!--Observations-->
          <div class="card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Observations</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Click the observations to add to the sequence.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <button md-raised-button *ngFor="let observation of hmm.observations; let i = index" (click)="add_obs(i)">{{observation}}</button>
            </div>
          </div>
        </div>
        <div class="mdl-cell mdl-cell--5-col">
          <!--Sequence-->
          <div class="card mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h5 class="mdl-card__title-text">Sequence</h5>
            </div>
            <div class="mdl-card__supporting-text">
              <span class="mdl-chip mdl-chip--deletable" *ngFor="let seq of sequence; let i = index">
                <span class="mdl-chip__text">{{seq}}</span>
              <button type="button" class="mdl-chip__action"><i class="material-icons" (click)="remove_obs(i)">cancel</i></button>
              </span>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <button md-button color="primary" (click)="add_sequence()">Add sequence</button>
            </div>
          </div>
        </div>
      </div>
      <!--Buttons-->
      <div class="button_alone">
        <button md-raised-button color="accent" (click)="viterbi()">CALCULATE</button>
        <label class="error">{{error_viterbi}}</label>
      </div>
      <!--Sequences-->
      <div *ngFor="let seq of hmm.sequences; let i = index" class="card mdl-card mdl-shadow--2dp">
        <div class="mdl-card__title mdl-card--expand">
          <h6 class="card_title_small">Sequence {{i+1}}</h6>
          <div class="mdl-layout-spacer"></div>
          <button class="mdl-button mdl-js-button mdl-button--icon mdl-button--colored" (click)="remove_sequence(i)">
            <i class="material-icons">cancel</i>
          </button>
        </div>
        <div class="mdl-card__supporting-text">
          <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
            <thead>
              <tr>
                <th class="mdl-data-table__cell--non-numeric">Observation</th>
                <th class="mdl-data-table__cell--non-numeric">State</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let s of seq; let j = index">
                <td class="mdl-data-table__cell--non-numeric">{{s}}</td>
                <td class="mdl-data-table__cell--non-numeric">{{hmm.path[i][j]}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <label>Probability: </label><span>{{hmm.path_probabilities[i] | number: '1.1-6'}}</span>
        </div>
      </div>
    </md-tab>

    <!--TRAIN-->
    <md-tab label="Train">
      <h2>Train using Baum-Welch</h2>
      <button md-raised-button color="primary" (click)="import('train')">Import</button>
      <button md-button color="warn" (click)="reset('train')">Reset</button>
      <div class="mdl-grid">
        <!--States-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">States</h2>
          </div>
          <div class="mdl-card__supporting-text">
            To modify the states go to the Model tab.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <pre>{{hmm.states}}</pre>
          </div>
        </div>
        <!--Observations-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Observations</h2>
          </div>
          <div class="mdl-card__supporting-text">
            To modify the observations go to the Model tab.
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <pre>{{hmm.observations}}</pre>
          </div>
        </div>
      </div>
      <div class="mdl-grid">
        <!--A-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Initial Transitions</h2>
          </div>
          <div class="card_overflow mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th>(From \ To)</th>
                  <th class="mdl-data-table__cell--non-numeric" *ngFor="let state of hmm.states">{{state}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let state of hmm.states; let i = index">
                  <td class="mdl-data-table__cell--non-numeric"><b>{{state}}</b></td>
                  <td *ngFor="let s of hmm.states; let j = index" class="matrix_cell">
                    <md-input-container>
                      <input md-input [(ngModel)]="hmm.A_ini[i][j]" type="number" step="0.01" min="0" max="1">
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button md-button color="primary" (click)="initialize_A(false)">Uniform</button>
            <button md-button color="primary" (click)="initialize_A(true)">Random</button>
          </div>
        </div>
        <!--B-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Initial Emissions</h2>
          </div>
          <div class="card_overflow mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th class="mdl-data-table__cell--non-numeric" *ngFor="let observation of hmm.observations">{{observation}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let state of hmm.states; let i = index">
                  <td class="mdl-data-table__cell--non-numeric"><b>{{state}}</b></td>
                  <td class="matrix_cell" *ngFor="let o of hmm.observations; let j = index">
                    <md-input-container>
                      <input md-input type="number" step="0.01" min="0" max="1" [(ngModel)]="hmm.B_ini[i][j]">
                    </md-input-container>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button md-button color="primary" (click)="initialize_B(false)">Uniform</button>
            <button md-button color="primary" (click)="initialize_B(true)">Random</button>
          </div>
        </div>
        <!--Sequences-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Sequences to train</h2>
          </div>
          <div class="card_overflow card_fixed_h mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <tbody>
                <tr *ngFor="let seq of hmm.train_seq; let i = index">
                  <td><b>{{i+1}}</b></td>
                  <td class="mdl-data-table__cell--non-numeric">{{seq}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--Buttons-->
      <div class="button_alone">
        <md-input-container>
          <input md-input placeholder="Max iterations" type="number" min="1" [(ngModel)]="max_iter">
        </md-input-container>
        <button md-raised-button color="accent" (click)="train()" [disabled]="calculating_train">CALCULATE</button>
        <label class="error">{{error_train}}</label>
        <span *ngIf="calculating_train">Training...</span>
      </div>
      <!--Trained-->
      <div *ngIf="trained">
        <label>Trained in {{iterations}} iterations</label>
        <br>
        <!--A trained-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Final Transitions</h2>
          </div>
          <div class="card_overflow mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th>(From \ To)</th>
                  <th class="mdl-data-table__cell--non-numeric" *ngFor="let state of hmm.states">{{state}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let state of hmm.states; let i = index">
                  <td class="mdl-data-table__cell--non-numeric"><b>{{state}}</b></td>
                  <td *ngFor="let s of hmm.states; let j = index" class="matrix_cell mdl-data-table__cell--non-numeric">
                    {{A_trained[i][j] | number: '1.1-6'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button md-button color="primary" (click)="export('.trans')">Export as .trans</button>
          </div>
        </div>
        <!--B trained-->
        <div class="card mdl-card mdl-shadow--2dp">
          <div class="mdl-card__title mdl-card--expand">
            <h2 class="mdl-card__title-text">Final Emissions</h2>
          </div>
          <div class="card_overflow mdl-card__supporting-text">
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
              <thead>
                <tr>
                  <th>&nbsp;</th>
                  <th class="mdl-data-table__cell--non-numeric" *ngFor="let observation of hmm.observations">{{observation}}</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let state of hmm.states; let i = index">
                  <td class="mdl-data-table__cell--non-numeric"><b>{{state}}</b></td>
                  <td class="matrix_cell mdl-data-table__cell--non-numeric" *ngFor="let o of hmm.observations; let j = index">
                    {{B_trained[i][j] | number: '1.1-6'}}
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <button md-button color="primary" (click)="export('.emit')">Export as .emit</button>
          </div>
        </div>
      </div>
    </md-tab>
  </md-tab-group>
</div>